In [6]:
!pip install supabase

Requirement already satisfied: supabase in c:\users\abhin\anaconda3\lib\site-packages (2.25.0)
Requirement already satisfied: realtime==2.25.0 in c:\users\abhin\anaconda3\lib\site-packages (from supabase) (2.25.0)
Requirement already satisfied: supabase-functions==2.25.0 in c:\users\abhin\anaconda3\lib\site-packages (from supabase) (2.25.0)
Requirement already satisfied: storage3==2.25.0 in c:\users\abhin\anaconda3\lib\site-packages (from supabase) (2.25.0)
Requirement already satisfied: supabase-auth==2.25.0 in c:\users\abhin\anaconda3\lib\site-packages (from supabase) (2.25.0)
Requirement already satisfied: postgrest==2.25.0 in c:\users\abhin\anaconda3\lib\site-packages (from supabase) (2.25.0)
Requirement already satisfied: httpx<0.29,>=0.26 in c:\users\abhin\anaconda3\lib\site-packages (from supabase) (0.28.1)
Requirement already satisfied: deprecation>=2.1.0 in c:\users\abhin\anaconda3\lib\site-packages (from postgrest==2.25.0->supabase) (2.1.0)
Requirement already satisfied: pydantic<3.0,>=1.9 in c:\users\abhin\anaconda3\lib\site-packages (from postgrest==2.25.0->supabase) (2.12.5)
Requirement already satisfied: yarl>=1.20.1 in c:\users\abhin\anaconda3\lib\site-packages (from postgrest==2.25.0->supabase) (1.22.0)
Requirement already satisfied: typing-extensions>=4.14.0 in c:\users\abhin\anaconda3\lib\site-packages (from realtime==2.25.0->supabase) (4.15.0)
Requirement already satisfied: websockets<16,>=11 in c:\users\abhin\anaconda3\lib\site-packages (from realtime==2.25.0->supabase) (15.0.1)
Requirement already satisfied: pyjwt>=2.10.1 in c:\users\abhin\anaconda3\lib\site-packages (from pyjwt[crypto]>=2.10.1->supabase-auth==2.25.0->supabase) (2.10.1)
Requirement already satisfied: strenum>=0.4.15 in c:\users\abhin\anaconda3\lib\site-packages (from supabase-functions==2.25.0->supabase) (0.4.15)
Requirement already satisfied: anyio in c:\users\abhin\anaconda3\lib\site-packages (from httpx<0.29,>=0.26->supabase) (4.7.0)
Requirement already satisfied: certifi in c:\users\abhin\anaconda3\lib\site-packages (from httpx<0.29,>=0.26->supabase) (2025.4.26)
Requirement already satisfied: httpcore==1.* in c:\users\abhin\anaconda3\lib\site-packages (from httpx<0.29,>=0.26->supabase) (1.0.9)
Requirement already satisfied: idna in c:\users\abhin\anaconda3\lib\site-packages (from httpx<0.29,>=0.26->supabase) (3.7)
Requirement already satisfied: h11>=0.16 in c:\users\abhin\anaconda3\lib\site-packages (from httpcore==1.*->httpx<0.29,>=0.26->supabase) (0.16.0)
Requirement already satisfied: h2<5,>=3 in c:\users\abhin\anaconda3\lib\site-packages (from httpx[http2]<0.29,>=0.26->postgrest==2.25.0->supabase) (4.3.0)
Requirement already satisfied: hyperframe<7,>=6.1 in c:\users\abhin\anaconda3\lib\site-packages (from h2<5,>=3->httpx[http2]<0.29,>=0.26->postgrest==2.25.0->supabase) (6.1.0)
Requirement already satisfied: hpack<5,>=4.1 in c:\users\abhin\anaconda3\lib\site-packages (from h2<5,>=3->httpx[http2]<0.29,>=0.26->postgrest==2.25.0->supabase) (4.1.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\abhin\anaconda3\lib\site-packages (from pydantic<3.0,>=1.9->postgrest==2.25.0->supabase) (0.6.0)
Requirement already satisfied: pydantic-core==2.41.5 in c:\users\abhin\anaconda3\lib\site-packages (from pydantic<3.0,>=1.9->postgrest==2.25.0->supabase) (2.41.5)
Requirement already satisfied: typing-inspection>=0.4.2 in c:\users\abhin\anaconda3\lib\site-packages (from pydantic<3.0,>=1.9->postgrest==2.25.0->supabase) (0.4.2)
Requirement already satisfied: packaging in c:\users\abhin\anaconda3\lib\site-packages (from deprecation>=2.1.0->postgrest==2.25.0->supabase) (24.2)
Requirement already satisfied: cryptography>=3.4.0 in c:\users\abhin\anaconda3\lib\site-packages (from pyjwt[crypto]>=2.10.1->supabase-auth==2.25.0->supabase) (44.0.1)
Requirement already satisfied: cffi>=1.12 in c:\users\abhin\anaconda3\lib\site-packages (from cryptography>=3.4.0->pyjwt[crypto]>=2.10.1->supabase-auth==2.25.0->supabase) (1.17.1)
Requirement already satisfied: pycparser in c:\users\abhin\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=3.4.0->pyjwt[crypto]>=2.10.1->supabase-auth==2.25.0->supabase) (2.21)
Requirement already satisfied: multidict>=4.0 in c:\users\abhin\anaconda3\lib\site-packages (from yarl>=1.20.1->postgrest==2.25.0->supabase) (6.1.0)
Requirement already satisfied: propcache>=0.2.1 in c:\users\abhin\anaconda3\lib\site-packages (from yarl>=1.20.1->postgrest==2.25.0->supabase) (0.3.1)
Requirement already satisfied: sniffio>=1.1 in c:\users\abhin\anaconda3\lib\site-packages (from anyio->httpx<0.29,>=0.26->supabase) (1.3.0)

In [7]:
from supabase import create_client
import pandas as pd, os
from dotenv import load_dotenv

In [8]:
load_dotenv()
supabase = create_client(os.getenv("SUPABASE_URL"), os.getenv("SUPABASE_KEY"))
data = supabase.table("iris_data").select("*").execute()
df = pd.DataFrame(data.data)
df.head()
df.info()
df.isnull().sum()
df.describe()
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             100 non-null    int64
 1   sepal_length   100 non-null    float64
 2   sepal_width    100 non-null    float64
 3   petal_length   100 non-null    float64
 4   petal_width    100 non-null    float64
 5   species        100 non-null    object
 6   sepal_ratio    100 non-null    float64
 7   petal_ratio    100 non-null    float64
 8   is_petal_long  100 non-null    int64
dtypes: float64(6), int64(2), object(1)
memory usage: 7.2+ KB

Index(['id', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species', 'sepal_ratio', 'petal_ratio', 'is_petal_long'],
      dtype='object')

In [9]:
load_dotenv()
supabase = create_client(os.getenv("SUPABASE_URL"), os.getenv("SUPABASE_KEY"))
data = supabase.table("iris_data").select("*").execute()
df = pd.DataFrame(data.data)
df.head()

,id,sepal_length,sepal_width,petal_length,petal_width,species,sepal_ratio,petal_ratio,is_petal_long
0,1,5.1,3.5,1.4,0.2,setosa,1.457143,7.0,0
1,2,4.9,3.0,1.4,0.2,setosa,1.633333,7.0,0
2,3,4.7,3.2,1.3,0.2,setosa,1.468750,6.5,0
3,4,4.6,3.1,1.5,0.2,setosa,1.483871,7.5,0
4,5,5.0,3.6,1.4,0.2,setosa,1.388889,7.0,0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             100 non-null    int64
 1   sepal_length   100 non-null    float64
 2   sepal_width    100 non-null    float64
 3   petal_length   100 non-null    float64
 4   petal_width    100 non-null    float64
 5   species        100 non-null    object
 6   sepal_ratio    100 non-null    float64
 7   petal_ratio    100 non-null    float64
 8   is_petal_long  100 non-null    int64
dtypes: float64(6), int64(2), object(1)
memory usage: 7.2+ KB

In [11]:
df.isnull().sum()

id               0
sepal_length     0
sepal_width      0
petal_length     0
petal_width      0
species          0
sepal_ratio      0
petal_ratio      0
is_petal_long    0
dtype: int64

In [12]:
df.describe()

,id,sepal_length,sepal_width,petal_length,petal_width,sepal_ratio,petal_ratio,is_petal_long
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,50.500000,5.471000,3.099000,2.861000,0.786000,1.815295,5.075418,0.250000
std,29.011492,0.641698,0.478739,1.449549,0.565153,0.391356,2.733799,0.435194
min,1.000000,4.300000,2.000000,1.000000,0.100000,1.268293,2.666667,0.000000
25%,25.750000,5.000000,2.800000,1.500000,0.200000,1.464865,3.230769,0.000000
50%,50.500000,5.400000,3.050000,2.450000,0.800000,1.782353,3.725000,0.000000
75%,75.250000,5.900000,3.400000,4.325000,1.300000,2.161290,7.000000,0.250000
max,100.000000,7.000000,4.400000,5.100000,1.800000,2.818182,15.000000,1.000000

In [13]:
df.columns

Index(['id', 'sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species', 'sepal_ratio', 'petal_ratio', 'is_petal_long'],
      dtype='object')